<header class="header-fixed">

    <!--<div class="container">-->
      <!--<ul class="left">-->
        <!--<li><span><i class="fa fa-phone" aria-hidden="true"></i></span> Phone : 8801 923 154 259</li>-->
        <!--<li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> Opening Time : 9:30am-5:30pm</li>-->
        <!--<li><span><i class="fa fa-home" aria-hidden="true"></i></span> Address : Labartisan 1205 Dhaka</li>-->
      <!--</ul>-->
      <!--<ul class="right">-->
        <!--<li><i class="fa fa-registered" aria-hidden="true"></i> <a href="#">SignUp</a></li>-->
        <!--<li>|</li>-->
        <!--<li><i class="fa fa-lock" aria-hidden="true"></i> <a href="#">Login</a></li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; container &ndash;&gt;-->
  <!-- header top -->
  <div class="main-menu">
    <a class="navbar-brand  " routerLink=""><img src="../../assets/images/logo.png" alt="logo" class="img-responsive"></a>

    <nav class="navbar ">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header-fixed">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="courses.html">C++</a></li>
                <li><a href="courses-2.html">JavaScript</a></li>
                <li class="active"><a href="courses-3.html">Angular</a></li>
                <li><a href="course-single.html">Database</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="courses.html">Video Leactures</a></li>
                <li><a href="courses-2.html">Pdf Notes</a></li>
                <!--<li class="active"><a href="courses-3.html">Angular</a></li>-->
                <!--<li><a href="course-single.html">Database</a></li>-->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Flash Cards <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="teacher.html">Teacher Style One</a></li>
                <li><a href="teacher-2.html">Teacher Style Two</a></li>
                <li><a href="teacher-details.html">Teacher Single</a></li>
              </ul>
            </li>
              <ul class="dropdown-menu">
                <li><a href="gallery.html">Gallery Style One</a></li>
                <li><a href="gallery-2.html">Gallery Style Two</a></li>
              </ul>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog Grid Style</a></li>
                <li><a href="blog-2.html">Blog 2 Column</a></li>
                <li><a href="blog-3.html">Blog List Style</a></li>
                <li><a href="blog-4.html">Blog Classes Style</a></li>
                <li><a href="single.html">Blog Single</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="product.html">Product Page</a></li>
                <li><a href="product-details.html">Product Details</a></li>
                <li><a href="shop-cart.html">Shop Cart</a></li>
              </ul>
            </li>
            <!--<li><a href="contact.html">Contact</a></li>-->

            <li class="menu_cart dropdown"><span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
              <ul class="dropdown-menu first_dropdown shop_feature">
                <li class="feature_item">
                  <div class="featured_image">
                    <img src="./assets/images/product/menu_cart_01.jpg" alt="Fratured image" class="img-responsive"/>
                  </div><!--featured image-->
                  <div class="featured_content">
                    <h3><a href="#">Product Title</a> </h3>
                    <span class="remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p>quantity: 1</p>
                    <span>$85</span>
                  </div><!--featured content-->
                </li><!--  feature item -->
                <li class="feature_item">
                  <div class="featured_image">
                    <img src="./assets/images/product/menu_cart_02.jpg" alt="Fratured image" class="img-responsive"/>
                  </div><!--featured image-->
                  <div class="featured_content">
                    <h3><a href="#">Product Title</a> </h3>
                    <span class="remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p>quantity: 2</p>
                    <span>$85</span>
                  </div><!--featured content-->
                </li><!--  feature item -->
                <li class="feature_item">
                  <div class="featured_image">
                    <img src="./assets/images/product/menu_cart_03.jpg" alt="Fratured image" class="img-responsive"/>
                  </div><!--featured image-->
                  <div class="featured_content">
                    <h3><a href="#">Product Title</a> </h3>
                    <span class="remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p>quantity: 4</p>
                    <span>$85</span>
                  </div><!--featured content-->
                </li><!--  feature item -->
                <li class="cart_total">total order: <span>$591.00</span></li>
                <li><a href="shop-cart.html" class="button-default check_out">Check Out</a></li>
              </ul>
            </li>

          </ul>
          <form class="menu-search-form">
            <input type="text" name="search" placeholder="Search here...">
            <span class="menu-search-close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </div><!-- main menu -->
</header>
<!-- header End here -->
